@import '../../static/branding/app-colors';

:root,
:before,
:after {
  --white: #{$white};
  --white-rgb: #{$white-rgb};
  --black: #{$black};
  --black-rgb: #{$black-rgb};

  --background-primary-light: #{$background-primary-light};
  --background-primary-main: #{$background-primary-main};
  --background-primary-dark: #{$background-primary-dark};

  --background-secondary-light: #{$background-secondary-light};
  --background-secondary-main: #{$background-secondary-main};
  --background-secondary-dark: #{$background-secondary-dark};

  /* status colors */
  --success-light: #{$success-light};
  --success-main: #{$success-main};
  --success-dark: #{$success-dark};

  --error-light: #{$error-light};
  --error-main: #{$error-main};
  --error-dark: #{$error-dark};

  --warning-light: #{$warning-light};
  --warning-main: #{$warning-main};
  --warning-dark: #{$warning-dark};

  --info-light: #{$info-light};
  --info-main: #{$info-main};
  --info-dark: #{$info-dark};

  /* brand colors */
  --primary-light: #{$primary-light};
  --primary-main: #{$primary-main};
  --primary-dark: #{$primary-dark};
  --primary-light-rgb: #{$primary-light-rgb};
  --primary-main-rgb: #{$primary-main-rgb};
  --primary-dark-rgb: #{$primary-dark-rgb};

  --secondary-light: #{$secondary-light};
  --secondary-main: #{$secondary-main};
  --secondary-dark: #{$secondary-dark};

  --tertiary-light: #{$tertiary-light};
  --tertiary-main: #{$tertiary-main};
  --tertiary-dark: #{$tertiary-dark};

  /* typography colors */
  --text-primary-light: #{$text-primary-light};
  --text-primary-main: #{$text-primary-main};
  --text-primary-dark: #{$text-primary-dark};

  --text-secondary-light: #{$text-secondary-light};
  --text-secondary-main: #{$text-secondary-main};
  --text-secondary-dark: #{$text-secondary-dark};

  --text-primary-invert-light: #{$text-primary-invert-light};
  --text-primary-invert-main: #{$text-primary-invert-main};
  --text-primary-invert-dark: #{$text-primary-invert-dark};

  --text-secondary-invert-light: #{$text-secondary-invert-light};
  --text-secondary-invert-main: #{$text-secondary-invert-main};
  --text-secondary-invert-dark: #{$text-secondary-invert-dark};

  /* border colors */
  --border-primary-light: #{$border-primary-light};
  --border-primary-main: #{$border-primary-main};
  --border-primary-dark: #{$border-primary-dark};

  /* App variables */
  --app-bg: #{$app-bg};
  --app-bg-secondary: #{$app-bg-secondary};
  --app-bg-tertiary: #{$app-bg-tertiary};
  --app-bg-quaternary: #{$app-bg-quaternary};
  --app-txt: #{$text-primary-main};
  --app-font-family: 'Roboto', 'Arial', sans-serif;
  --app-padding-top: #{toRem(56)};
  --app-padding-bottom: #{toRem(56)};
  --app-padding-right: #{toRem(92)};
  --app-padding-left: #{toRem(92)};

  @include respond-to(small) {
    --app-padding-top: #{toRem(36)};
    --app-padding-bottom: #{toRem(36)};
    --app-padding-right: #{toRem(24)};
    --app-padding-left: #{toRem(24)};
  }

  /* --------------------------------------- */

  /* Field variables */

  /* --------------------------------------- */
  --field-bg-primary: var(--background-primary-main);
  --field-bg-secondary: var(--background-secondary-light);

  /* label */
  --field-label: var(--text-primary-main);
  --field-label-hover: var(--text-primary-main);
  --field-label-focus: var(--text-primary-main);
  --field-label-font-size: #{toRem(14)};
  --field-label-line-height: 1.4;

  /* text */
  --field-text: var(--text-primary-main);
  --field-text-font-size: #{toRem(14)};
  --field-text-line-height: 1.4;
  --field-placeholder: #{rgba($text-primary-main, 0.35)};

  /* border */
  --field-border: var(--border-primary-main);
  --field-border-hover: var(--primary-light);
  --field-border-focus: var(--primary-main);

  /* transition duration */
  --field-transition-duration: 0.2s;

  /* paddings */
  --field-padding-top: #{toRem(14)};
  --field-padding-right: #{toRem(16)};
  --field-padding-bottom: #{toRem(18)};
  --field-padding-left: #{toRem(14)};
  --field-padding:
    var(--field-padding-top)
    var(--field-padding-right)
    var(--field-padding-bottom)
    var(--field-padding-left);

  --field-error: var(--error-main);
}
